#hidden{
    display: none;
}
#table{
    margin-left: auto;
    margin-right: auto;
}
#buttons{
    position: relative;
    text-align: center;
}
h1,h2,#winOrLose,#select,#reset{
    text-align: center;
}

h1,h2{
    color:red;
}